<!DOCTYPE html>
<html>
<head>
    <title>Insurance Cost Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Predict Medical Insurance Cost</h2>
        <form action="/predict" method="POST">
            <label>Age:</label>
            <input type="number" name="age" required>

            <label>Sex:</label>
            <select name="sex">
                <option>male</option>
                <option>female</option>
            </select>

            <label>BMI:</label>
            <input type="number" step="0.1" name="bmi" required>

            <label>Children:</label>
            <input type="number" name="children" required>

            <label>Smoker:</label>
            <select name="smoker">
                <option>yes</option>
                <option>no</option>
            </select>

            <label>Region:</label>
            <select name="region">
                <option>northeast</option>
                <option>northwest</option>
                <option>southeast</option>
                <option>southwest</option>
            </select>

            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
